<!DOCTYPE html>
<html>
  <head>
    <title>Employees and Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container jumbotron">
            <%= yield %>
            <div id="navigation">
                <a href="/brands"><button class="btn btn-primary block">Brands we rep</button></a>
                <a href="/stores"><button class="btn btn-primary block">Stores</button></a>
            </div>
        </div>



  </body>
</html>
